.AuthGoogleContainer {
  .Profile {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  p {
    text-align: center;
    font-family: "Bakbak", sans-serif;
    font-weight: bolder;
  }
  h2 {
    text-align: center;
    font-family: "Bakbak", sans-serif;
  }
  img {
    border-radius: 50%;
    align-content: center;
    margin-right: 1rem;
  }

  .btn_link_logout {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
    a {
      padding: 0.75rem 2rem;
      border: 1px solid rgb(159, 29, 29);
      border-radius: 10px;
      color: rgb(159, 29, 29);

      &:hover {
        background-color: rgb(159, 29, 29);
        color: #f1f1f1;
      }
    }
  }
}
