.portfolio {
  .portfolioContent {
    width: 100%;
    // display: flex;
    // flex-direction: column;
    min-height: 500px;
    margin-bottom: 2rem;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;

    .project {
      border-radius: 10px;
      text-align: center;
      width: 50%;
      border: 1px solid #ed8080;
      cursor: pointer;
      padding: 1rem;

      &:hover {
        box-shadow: 0 3px 7px #ed8080;
      }
    }
    h3 {
      font-family: "";
      font-size: 1.65rem;
      color: #ed8080;
      padding: 0.0625rem;
      margin-right: 0;
    }

    .btn_link {
      width: 100%;
      margin-top: 2rem;

      a {
        padding: 0.75rem 2rem;
        border: 1px solid #d77474;
        border-radius: 10px;

        &:hover {
          background-color: #ed8080;
          color: #f1f1f1;
        }
      }
    }
    p {
      font-size: 15px;
      border-radius: 10px;
      background-color: #ed80802e;
      padding: 5px;
      margin: 10px 0;
      text-align: left;
      width: fit-content;
    }

    img {
      object-fit: fill;
      margin: 0 auto;
      width: 100%;
      height: 350px;
      box-shadow: 0 2px 6px #333;
      border-radius: 4px;
      cursor: pointer;
    }
    .infos {
      color: rgb(114, 183, 3);
      font-size: 1.5rem;

      &:hover {
        transform: scale(1.1);
      }
    }
    .showInfos {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.507);
      animation: popup 0.3s ease forwards;
      transform-origin: center;

      .infosContent {
        position: relative;
        top: 25%;
        width: 600px;
        margin: 0 auto;
        color: #f1f1f1;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 2rem;
        box-shadow: 0 10px 10px #333;
        animation: popup 0.6s ease forwards;
        transform: scale(0);
        transform-origin: center;

        @keyframes popup {
          to {
            transform: scale(1);
          }
        }
      }
      .head {
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;
        padding-top: 2rem;
      }
      h2 {
        text-align: left;
        margin-bottom: 1rem;
      }
      .text {
        text-align: justify;
        padding-bottom: 1rem;
      }
      .return {
        margin: 1rem auto;
        width: 200px;
      }
    }
  }
  .return_btn_ {
    margin-top: 2rem;
  }

  .a_detail {
    padding: 0.75rem 2rem;
    border: 1px solid #d77474;
    border-radius: 10px;
    transition: 0.2s;
    padding: 1rem;

    &:hover {
      background-color: #ed8080;
      color: #f1f1f1;
    }
  }
}

@media (max-width: 1024px) {
  .portfolio {
    .portfolioContent {
      .projects {
        .project {
          margin-top: 2rem;
          // width: 45%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .portfolio {
    .portfolioContent {
      .projects {
        padding: 0 2rem;
        .project {
          width: 100%;
          max-width: 450px;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .portfolio {
    .portfolioContent {
      .projects {
        .project {
          .showInfos {
            padding: 0 1rem;
            .infosContent {
              top: 25px;
              max-width: 600px;
              width: 100%;
              .head {
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                .sourceCode {
                  margin-bottom: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

.addProject {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;

  input,
  textarea {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
  }
  button {
    padding: 19px 39px 18px 39px;
    color: #fff;
    background-color: #d77474;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #d77474;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 480px) {
  .addProject {
    max-width: 480px;
  }
}
