@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bakbak", sans-serif;
  color: #22272e;
  text-decoration: none;
  scroll-behavior: smooth;
}
